:root {
  /* Colors */
  /* Primary */
  --dark-cayn: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  /* Neutral */
  --dark-gray: hsl(0, 0%, 59%);
  --white: hsl(0, 0%, 100%);

  /* Font families */
  --ff-primary: "Kumbh Sans", sans-serif;

  /* Font sizes */
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-600: 1.25rem;

  /* Font weights */
  --fw-regular: 400;
  --fw-bold: 700;
}

/* CSS Resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style-type: none;
}

/* Main style */
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: var(--ff-primary);
  padding-inline: 0.5rem;
  background-color: var(--dark-cayn);
  overflow: hidden;
}

.bg-pattern-top,
.bg-pattern-bottom {
  position: absolute;
  min-height: 61.25rem;
  min-width: 61.25rem;
}

.bg-pattern-top {
  bottom: 52%;
  right: 49.7%;
}

.bg-pattern-bottom {
  top: 42%;
  left: 50.5%;
}

.proile-card {
  position: relative;
  max-width: 31.25rem;
  text-align: center;
  border-radius: 1rem;
  color: var(--dark-gray);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0.3125em 0.4375em 1.5625em -0.4375em var(--dark-grayish-blue);
  z-index: 1;
}

.bg-pattern-card {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.profile__img {
  position: absolute;
  top: 34%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 100vw;
  border: 0.4rem solid hsl(0, 0%, 100%);
}

.profile__name {
  font-size: var(--fs-600);
  margin-top: 4.5rem;
  color: var(--very-dark-desaturated-blue);
}

.profile__age {
  font-weight: var(--fw-regular);
  margin-left: 0.4rem;
}

.profile__city {
  margin-top: 0.6rem;
}

.divider {
  height: 1px;
  margin-block: 1.7rem;
  background-color: var(--dark-gray);
  opacity: 0.3;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
}

.stat__number {
  font-size: var(--fs-600);
  color: var(--very-dark-desaturated-blue);
}

.stat__type {
  letter-spacing: 2px;
  font-size: var(--fs-300);
}

.attribution {
  text-align: center;
  padding-block: 1.7rem;
  color: var(--white);
  z-index: 1;
}

.attribution a {
  font-weight: var(--fw-bold);
  color: var(--very-dark-desaturated-blue);
}

.attribution a:hover {
  color: var(--dark-grayish-blue);
}
